.feedHeader {
  width: 100%;
  color: #007bff;

  h1 {
    font-weight: 600;
    color: #177dfb;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .btn {
    border: none !important;
    padding: 2px 5px;
    border-radius: 16px !important;
    position: relative;
    color: #888484;
    font-size: 14px;
    margin-top: 11px;

    span.red {
      display: inline-block;
      margin-right: 5px;
      position: relative;
      padding-left: 13px;

      &::before {
        position: absolute;
        width: 11px;
        height: 11px;
        top: 6px;
        left: 0;
        background: #e26741;
        content: "";
      }
    }

    span.green {
      display: inline-block;
      margin-right: 5px;
      position: relative;
      padding-left: 13px;

      &::before {
        position: absolute;
        left: 0;
        background: #00aebd;
        content: "";
        width: 11px;
        height: 11px;
        top: 6px;
      }
    }
  }
}

.feedHeader {
  .backrow {
    border-bottom: solid 1px #eee;
    margin-bottom: 0;
    position: fixed;
    width: calc(100% - 80px);
    z-index: 9;
    background: #ffffff;
    box-shadow: -6px 5px 11px -9px rgba(0, 0, 0, 0.2);
    top: 56px;
    right: 0;
    padding: 0 15px;
  }

  .backBtn {
    color: #007bff !important;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 !important;
    margin: 3px 0;

    a {
      i {
        width: 40px;
        height: 40px;
        background: rgba(23, 125, 251, 0.1);
        line-height: 42px;
        text-align: center;
        border-radius: 50%;
        transition: 0.5s all;
      }

      &:hover i {
        background: rgba(23, 125, 251, 0.2);
      }
    }

    h1 {
      color: #177dfb;
      margin: 0px 0px 3px 14px;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      vertical-align: text-bottom;
    }
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 0px !important;

    span {
      display: inline-block;
      margin-right: 18px !important;
      position: relative;
      padding-left: 3px;

      i {
        font-size: 24px;
        -webkit-transform: rotate(42deg);
        transform: rotate(42deg);
        vertical-align: middle;
      }

      &.pink i {
        color: #ee3a59;
      }

      &.orange i {
        color: #e27b47;
      }

      &.yellow i {
        color: #efca58;
      }

      &.cgreen i {
        color: #46b29e;
      }

      &.blue i {
        color: #7c6cd2;
      }

      &:last-child span {
        margin-right: 4px !important;
      }
    }
  }
}

.block-widget {
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;

  a {
    word-break: break-word;
    white-space: normal;
    display: block;
    width: 100%;
    height: 125px !important;
    padding: 0 10px 5px !important;
    text-decoration: none;

    img {
      display: block;
      height: 60px !important;
      margin: 15px auto 10px;
    }
  }
}
